body {
  background-color: hsl(204, 43%, 93%);
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

h2 {
  color: hsl(179, 62%, 43%);
  font-weight: 700;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 650px;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.community {
  background-color: white;
  grid-column: span 2;
  padding: 30px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.community p {
  width: 95%;
  color: hsl(218, 22%, 67%);
}

.community h4 {
  color: hsl(71, 73%, 54%);
}

.subscription {
  background-color: #2bb3b1;
  padding: 30px;
  border-bottom-left-radius: 8px;
}

.subscription h3 {
  color: hsl(204, 43%, 93%);
}

.subscription h2 {
  color: hsl(204, 43%, 93%);
}

.subscription p {
  color: #e3ebf3;
  padding-bottom: 10px;
}

/**button**/
.BUTTON_JUF {
  border-radius: 1px;
  height: 40px;
  line-height: 7px;
  color: #ffffff;
  width: 90%;
  font-size: 13px;
  font-weight: 700;
  padding: 14px;
  background-color: hsl(71, 73%, 54%);
  border: solid hsl(71, 73%, 54%) 0;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.3);
}

.why-us {
  background-color: #4abebd;
  padding: 30px;
  border-bottom-right-radius: 8px;
}

.why-us h3 {
  color: hsl(204, 43%, 93%);
}

span {
  color: #63d0d2;
  font-size: 20px;
  position: relative;
  left: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  color: #e3ebf3;
}

@media (max-width: 600px) {
body {
    overflow: scroll;
}

  .grid-container {
    grid-template-columns: 1fr;
    width: 300px;
    line-height: 1.5;
  }

  .community {
    grid-column: auto;
    padding: 10px 30px;
  }

  .community p {
    width: 94%;
  }

  .community h2 {
    font-size: 20px;
  }
  
  .subscription {
    border-bottom-left-radius: 0;
    padding: 10px 30px 20px 30px;
  }

  .why-us {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px 30px;
    line-height: 1.5;
  }

  .BUTTON_JUF {
    width: 100%;
  }
}
